* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spline Sans", sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: #111914;
  align-items: center;
  padding: 20px;
}

/* nav left */
nav .logo {
  display: flex;
  align-items: center;
  margin-inline-end: 20px;
  gap: 6px;
}
nav .logo h2 {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1.4;
}
nav .logo svg {
  width: 48px;
  height: auto;
}
nav .left {
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 30px;
}
.links {
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 32px;
  font-size: 22px;
  letter-spacing: 1px;
}
.links a {
  text-decoration: none;
  color: #fff;
}

.links li:nth-child(2) a {
  color: #2bee79;
}
/* nav right */
nav .right .search-bar input {
  padding-inline: 20px;
  padding-block: 10px;
  border-radius: 2000px;
  width: 312px;
  font-size: 20px;
  background-color: #28392f;
  border: 1px solid #28392f;
  color: #9db9a8;
}
nav .right .search-bar {
  position: relative;
}
nav .right .search-bar i {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 20px;
  color: #9db9a8;
}
nav .right {
  display: flex;
  align-items: center;
  gap: 60px;
}
.account {
  display: flex;
  align-items: center;
  gap: 15px;
}
.account i {
  color: #fff;
}
.account div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #28392f;
}

/* main  */
main {
  background-color: #102217;
  min-height: 100vh;
}
.main-sec {
  width: 80%;
  margin-inline: auto;
  padding-block-start: 50px;
}
/* first section */

/* breadcrumb */
.breadcrumb {
  color: #9db9a8;
  margin-block-end: 20px;
}

.breadcrumb span:nth-child(3) {
  color: #fff;
}

.main-sec .first {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-block-end: 20px;
}
.main-sec .first h2 {
  color: #fff;
  font-size: 48px;
  margin-block-end: 20px;
}
.main-sec .first p {
  color: #9db9a8;
  font-size: 22px;
}

.main-sec .first .right span {
  color: #9db9a8;
  font-size: 18px;
}
button {
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #28392f;
  font-size: 18px;
}

/* second section */
section.second {
  display: flex;
}
/* left */
.main-sec .second .left-sec {
  width: 30%;
  padding-block-start: 30px;
}
.main-sec .second .left-sec .filter {
  color: #fff;
  font-size: 22px;
  margin-block-end: 40px;
}
.main-sec .second .left-sec .categories h2 {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  margin-block-end: 20px;
}
.main-sec .second .left-sec .categories .category-list {
  display: flex;
  flex-direction: column;
  color: #9db9a8;
  font-size: 20px;
  gap: 15px;
}
.main-sec .second .left-sec .categories .category-list input {
  width: 25px;
  height: 25px;
  background-color: white;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  margin: 10px;
}

.main-sec .second .left-sec .categories .category-list input:checked {
  background-color: #2bee79;
}
/* right */
.main-sec .second .right {
  display: grid;
  width: 70%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  align-items: start;
}

.cards .product .card img {
  aspect-ratio: 4 / 5;
  border-radius: 65px;
  margin-block-end: 20px;
  max-height: 350px;
  width: 100%;
  background-color: #ffffff1c;
}
.product {
  position: relative;
  height: auto;
}

.product .content {
  color: #fff;
  display: flex;
  padding-inline: 8px;
  gap: 10px;
}
.product .content .left {
  width: 80%;
}
.product .content .right {
  width: 20%;
}
.product .content .left h2 {
  width: 100%;
  line-break: strict;
}
.product .content .left h4 {
  margin-block: 10px;
  color: #9db9a8;
  font-size: 20px;
}
.product .content .right {
  display: flex;
  gap: 7px;
}
.product .content .right i {
  color: #2bee79;
  height: 16px;
}
.product .content .right i:hover {
}

.product .card .heart {
  position: absolute;
  right: 28px;
  top: 15px;
  background-color: #696969;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.product .card .heart:hover {
  color: #2bee79;
}

.product .card button {
  position: absolute;
  background-color: #2bee79;
  color: #000;
  border-radius: 40px;
  z-index: 99;
  width: 91%;
  top: 293px;
  left: 13px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;

  transform: translateY(10px);
  transition: all 0.3s ease;
}
.product .card {
  position: relative;
}
.product:hover .card button {
  opacity: 1;
  visibility: visible;

  transform: translateY(0);
}

/* footer */
footer {
  margin-block-start: 100px;
  background-color: #162a1e;
  padding-block: 50px;
}
.contain {
  display: flex;
  width: 80%;
  margin-inline: auto;
  justify-content: space-between;
}
footer h2 {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-block-end: 20px;
}
footer h2 + p {
  color: #9ca3af;
  font-size: 18px;
}
footer .list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.list a {
  text-decoration: none;
  color: #9ca3af;
  font-size: 18px;
}
.fourth input {
  background-color: #102217;
  color: #9ca3af;
  font-size: 18px;
  border: 1px solid #102217;
  padding: 10px;
  padding-inline-start: 16px;
  border-radius: 20px;
  margin-inline-end: 10px;
}
.fourth button {
  background-color: #2bee79;
  color: #000;
  border-radius: 30px;
  padding: 10px 15px;
  border: 1px solid #2bee79;
  font-weight: bold;
}
.product:hover h2 {
  color: #2bee79;
}
.product {
  height: fit-content;
}

#products-container.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  align-items: start;
  align-content: start;
  height: auto;
  min-height: unset;
}

.product {
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.product {
  cursor: pointer;
}
nav .cart-icon {
  position: relative;
}
nav .cart-icon a i {
}
nav .cart-icon a span {
  color: #000;
  font-weight: bold;
  position: absolute;
  right: -10px;
  top: 0;
  z-index: 999;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #000;
  background-color: #2bee79;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar i {
  cursor: pointer;
}
.logo i {
  color: #2bee79;
  font-size: 32px;
}
