* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spline Sans", sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: #111914;
  align-items: center;
  padding: 20px;
}

/* nav left */
nav .logo {
  display: flex;
  align-items: center;
  margin-inline-end: 20px;
  gap: 6px;
}
nav .logo h2 a {
  text-decoration: none;
  color: #fff;
}
nav .logo h2 {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1.4;
}
nav .logo svg {
  width: 48px;
  height: auto;
}
nav .left {
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 30px;
}
.links {
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 32px;
  font-size: 22px;
  letter-spacing: 1px;
}
.links a {
  text-decoration: none;
  color: #fff;
}

.links li:nth-child(2) a {
  color: #2bee79;
}
/* nav right */
nav .right .search-bar input {
  padding-inline: 20px;
  padding-block: 10px;
  border-radius: 2000px;
  width: 312px;
  font-size: 20px;
  background-color: #28392f;
  border: 1px solid #28392f;

  color: #9db9a8;
}
nav .right .search-bar {
  position: relative;
}
nav .right .search-bar i {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 20px;
  color: #9db9a8;
}
nav .right {
  display: flex;
  align-items: center;
  gap: 60px;
}
.account {
  display: flex;
  align-items: center;
  gap: 10px;
}
.account i {
  color: #fff;
}
.account div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #28392f;
}
main {
  background-color: #102217;
}
.main-sec {
  width: 80%;
  margin-inline: auto;
  padding-block-start: 50px;
  padding-block-end: 50px;
}

.main-sec .product .left {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: repeat(4, auto);
  gap: 15px;
  width: 60%;
}
.left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  display: block;
  transition: transform 0.5s ease;
}
.left img:hover {
  transform: scale(1.5);
}
.main-sec .product .left img:nth-child(5) {
  grid-column: 2;
  grid-row: 1 / 5;
}


.product {
  display: flex;
  gap: 70px;
  margin-block-end: 60px;
}
.product .left {
  width: 60%;
}
.product .right {
  width: 40%;
}
/* right */
.main-sec .product .right .first {
  display: flex;
  align-items: center;
  gap: 15px;
}
.main-sec .product .right .first button {
  color: #2bee79;
  background-color: #164b2a;
  padding: 5px 10px;
  border-radius: 30px;
  border: 1px #164b2a solid;
  text-transform: uppercase;
  font-weight: bold;
}
.main-sec .product .right .first .stars {
  color: #fbbf24;
}
.main-sec .product .right .first .reviews {
  color: #9ca3af;
}
.main-sec .product .right h2 {
  color: #fff;
  font-size: 37px;
  margin-block: 15px;
}
.main-sec .product .right h3 {
  color: #fff;
  font-size: 30px;
}
.line {
  height: 1px;
  margin-block: 30px;

  background-color: #dfdfdf5d;
  width: 100%;
}
.color span {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}
.color span:nth-child(1) {
  color: #9ca3af;
}

.color .circles {
  display: flex;
  gap: 15px;
  margin-block: 25px;
}
.color .circles div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.color .circles div:nth-child(1) {
  background-color: #5d8aa8;
  border: 6px solid #2bee79;
}
.color .circles div:nth-child(3) {
  background-color: #fff;
}
.color .circles div:nth-child(2) {
  background-color: #000;
}
.size {
  font-size: 20px;
}
.size span {
  color: #9ca3af;
  text-transform: uppercase;
}
.size a {
  text-decoration: none;
  border-bottom: 1px solid #2bee79;
  color: #fff;
}
.size .first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 15px;
}
.size .sizes button {
  color: #fff;
  font-size: 18px;
  background-color: #102217;
  border: 1px solid #293034;
  padding: 20px;
  border-radius: 22px;
  opacity: 0.7;
}
.size .sizes {
  display: flex;
  gap: 10px;
}

.actions {
  display: flex;
  gap: 13px;
  margin-block: 40px;
}
.actions button:nth-child(1) {
  background-color: #2bee79;
  width: 90%;
  font-size: 20px;
  border-radius: 30px;
}
.actions button:nth-child(2) {
  background-color: #102217;
  width: 60px;
  height: 60px;
  font-size: 20px;
  color: red;
  border-radius: 50%;
  border: 1px solid #293034;
}

/* accordion */
.accordion {
  background-color: #102217;
  border: 1px solid #293034;
  margin-block-end: 15px;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #293034;
}

.panel {
  display: none;
  overflow: hidden;
}
.details .accordion .panel {
  padding: 14px;
  color: #d1d5db;
}
.details .accordion + .panel p {
  color: #a1a1a1;
  margin-block: 15px;
}
.details .accordion + .panel ul {
  color: #8d8c8c;
  margin-inline-start: 20px;
  margin-block: 15px;
}
.details .accordion + .panel .card {
  display: flex;
  gap: 20px;
  margin-block: 20px;
  width: 100%;
}
.card .img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #8d8c8c;
}
.card .right {
  width: 100%;
}
.card .right .name h3 {
  font-size: 20px;
  font-weight: 400;
}
.card .right .name {
  display: flex;
  align-items: center;
  gap: 10px;
}
.card .right .stars {
  display: flex;
  align-items: center;
  color: #fbbf24;
  font-size: 15px;
}
.recomended {
  margin-block-end: 50px;
}

.recomended h2 {
  color: #fff;
  font-weight: bold;
  font-size: 32px;
  margin-block-end: 40px;
}
.prods {
  display: flex;
  gap: 20px;
}
.prods .prod img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 20px;
}
.prods .prod h3 {
  color: #fff;
  margin-block: 10px;
}
.prods .prod p {
  color: #8d8c8c;
  margin-block: 10px;
  font-size: 19px;
}

/* footer */
footer {
  margin-block-start: 100px;
  background-color: #162a1e;
  padding-block: 50px;
}
.contain {
  display: flex;
  width: 80%;
  margin-inline: auto;
  justify-content: space-between;
}
footer h2 {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-block-end: 20px;
}
footer h2 + p {
  color: #9ca3af;
  font-size: 18px;
}
footer .list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.list a {
  text-decoration: none;
  color: #9ca3af;
  font-size: 18px;
}
.fourth input {
  background-color: #102217;
  color: #9ca3af;
  font-size: 18px;
  border: 1px solid #102217;
  padding: 10px;
  padding-inline-start: 16px;
  border-radius: 20px;
  margin-inline-end: 10px;
}
.fourth button {
  background-color: #2bee79;
  color: #000;
  border-radius: 30px;
  padding: 10px 15px;
  border: 1px solid #2bee79;
  font-weight: bold;
  font-size: 16px;
}

.contain .first {
  width: 335px;
}
button {
  cursor: pointer;
}
.logo i {
  color: #2bee79;
  font-size: 32px;
}
